<table class="table table-striped table-hover" *ngIf="courseList.length">
  <thead>
  <tr>
    <th>Название</th>
    <th class="online-col">Онлайн/Оффлайн</th>
    <th class="duration-col">Кол-во часов</th>
    <th class="author-col">Автор</th>
    <th class="data-col">Дата</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of courseList">
    <td>{{ course.courseName }}</td>
    <td>{{ course.courseType === 1 ? 'ONLINE' : 'OFFLINE'}}</td>
    <td>{{ course.courseDuration }}</td>
    <td>{{ course.courseAuthor }}</td>
    <td>{{ course.courseDate | date: 'mediumDate' }}</td>
  </tr>
  </tbody>
</table>
<div *ngIf="!courseList.length" class="text-center fs-3 fw-bold">Список курсов пуст.</div>
