<app-icons></app-icons>
<div class="container">
  <header class="row mb-5 align-items-end border-bottom">
    <ul ngbNav class="nav col-11">
      <li ngbNavItem><a ngbNavLink>Список курсов</a></li>
      <li ngbNavItem><a ngbNavLink>Мои курсы</a></li>
    </ul>
    <svg class="col p-1" width="64" height="64" fill="currentColor">
      <use xlink:href="#person-circle"/>
    </svg>
  </header>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Название</th>
          <th>Дата</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courseList">
          <td>{{ course.title }}</td>
          <td>{{ course.date | date: 'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
