<div class="container">
  <header class="row mb-5 align-items-end border-bottom">
    <ul ngbNav class="nav col-11">
      <li ngbNavItem><a [routerLink]="['/']" ngbNavLink>Список курсов</a></li>
      <li *ngIf="isLoggedIn" ngbNavItem><a [routerLink]="['/courses', '1']" ngbNavLink>Мои курсы</a></li>
      <li>
        <a href title="добавить новый курс" (click)="onAddClick(content, $event)">
          <svg class="p-1" width="36" height="36" fill="currentColor">
            <use xlink:href="#plus-circle"/>
          </svg>
        </a>
      </li>
    </ul>
    <div class="login col d-flex justify-content-center">
      <svg *ngIf="isLoggedIn" class="p-1" width="100%" height="100%" fill="currentColor">
        <use xlink:href="#person-circle"/>
      </svg>
      <a [routerLink]="['/login']" class="nav-link align-self-end" *ngIf="!isLoggedIn">Login</a>
    </div>
  </header>
  <div class="container">
    <table class="table" *ngIf="courseList.length">
      <thead>
        <tr>
          <th>Название</th>
          <th>Дата</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courseList">
          <td>{{ course.title }}</td>
          <td>{{ course.date | date: 'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!courseList.length" class="text-center fs-3 fw-bold">Список курсов пуст.</div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Карточка курса</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" class="form-group">
      <div class="mb-3">
        <label for="courseName" class="form-label">Название курса</label>
        <input type="text" class="form-control" id="courseName" formControlName="courseName" />
        <div class="errors-container">
          <div
            *ngIf="courseName.invalid && courseName.touched && courseName.errors?.required"
            class="app-invalid-text"
          >{{ courseName.errors?.required.message }}</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfStart">Дата начала</label>
        <div class="input-group">
          <input
            id="dateOfStart"
            class="form-control"
            placeholder="день/месяц/год"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
            formControlName="courseDate"
          />
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
            <svg class="p-1" width="24" height="24" fill="currentColor">
              <use xlink:href="#calendar"/>
            </svg>
          </button>
        </div>
        <div class="errors-container">
          <div
            *ngIf="courseDate.invalid && courseDate.touched && courseDate.errors?.required"
            class="app-invalid-text"
          >{{ courseDate.errors?.required.message }}</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="courseDuration" class="form-label">Название курса</label>
        <input type="text" class="form-control" id="courseDuration" formControlName="courseDuration" />
        <div class="errors-container">
          <div
            *ngIf="courseDuration.invalid && courseDuration.touched && courseDuration.errors?.required"
            class="app-invalid-text"
          >{{ courseDuration.errors?.required.message }}</div>
          <div
            *ngIf="courseDuration.invalid && courseDuration.touched && courseDuration.errors?.numeric"
            class="app-invalid-text"
          >{{ courseDuration.errors?.numeric.message }}</div>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Тип курса</label>
        <div class="col-sm-9 btn-group btn-group-toggle" ngbRadioGroup name="courseType" formControlName="courseType">
          <label ngbButtonLabel class="btn btn-primary">
            <input ngbButton class="btn-check" type="radio" [value]="courseTypeEnum.ONLINE">Онлайн
          </label>
          <label ngbButtonLabel class="btn btn-primary">
            <input ngbButton class="btn-check" type="radio" [value]="courseTypeEnum.OFFLINE">Оффлайн
          </label>
        </div>
      </div>
      <div *ngIf="courseType.value === courseTypeEnum.ONLINE" class="mb-3 row">
        <label for="courseUrl" class="col-sm-3 col-form-label">Url курса</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="courseUrl" formControlName="courseUrl" />
          <div class="errors-container">
            <div
              *ngIf="courseUrl.invalid && courseUrl.touched && courseUrl.errors?.required"
              class="app-invalid-text"
            >{{ courseUrl.errors?.required.message }}</div>
          </div>
        </div>
      </div>
      <div *ngIf="courseType.value === courseTypeEnum.OFFLINE" class="mb-3">
        <div class="row">
          <label for="coursePlaceBuilding" class="col-sm-3 col-form-label">Здание</label>
          <div class="col-9 row">
            <div class="col-sm-4">
              <select id="coursePlaceBuilding" class="form-select" formControlName="coursePlaceBuilding">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <label for="coursePlaceRoom" class="col-sm-4 col-form-label text-end">Аудитория</label>
            <div class="col-sm-4">
              <select id="coursePlaceRoom" class="form-select" formControlName="coursePlaceRoom">
                <option value="1">101</option>
                <option value="2">110</option>
                <option value="3">113</option>
                <option value="4">201</option>
                <option value="5">304</option>
              </select>
            </div>
            <div class="errors-container">
              <div
                *ngIf=" coursePlaceBuilding.invalid && coursePlaceBuilding.touched && coursePlaceBuilding.errors?.required ||
                        coursePlaceRoom.invalid && coursePlaceRoom.touched && coursePlaceRoom.errors?.required"
                class="app-invalid-text"
              >Поля обязательные для заполнения</div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="courseComment" class="form-label">Комментарий</label>
        <textarea id="courseComment" class="form-control" rows="4" formControlName="courseComment"></textarea>
        <div class="errors-container">
          <div
            *ngIf="courseComment.invalid && courseComment.touched && courseComment.errors?.maxlength"
            class="app-invalid-text"
          >Максимум 200 символов</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" [disabled]="formGroup.touched && formGroup.invalid" (click)="onSubmit()">Ok</button>
  </div>
</ng-template>
