<div class="container">
  <header class="row mb-5 align-items-end border-bottom">
    <ul ngbNav class="nav col-11">
      <li ngbNavItem><a [routerLink]="['/']" ngbNavLink>Список курсов</a></li>
      <li *ngIf="isLoggedIn" ngbNavItem><a [routerLink]="['/courses', '1']" ngbNavLink>Мои курсы</a></li>
      <li>
        <a href title="добавить новый курс" (click)="onAddClick(content, $event)">
          <svg class="p-1" width="36" height="36" fill="currentColor">
            <use xlink:href="#plus-circle"/>
          </svg>
        </a>
      </li>
    </ul>
    <div class="login col d-flex justify-content-center">
      <svg *ngIf="isLoggedIn" class="p-1" width="100%" height="100%" fill="currentColor">
        <use xlink:href="#person-circle"/>
      </svg>
      <a [routerLink]="['/login']" class="nav-link align-self-end" *ngIf="!isLoggedIn">Login</a>
    </div>
  </header>
  <div class="container">
    <table class="table" *ngIf="courseList.length">
      <thead>
        <tr>
          <th>Название</th>
          <th>Дата</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courseList">
          <td>{{ course.title }}</td>
          <td>{{ course.date | date: 'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!courseList.length" class="text-center fs-3 fw-bold">Список курсов пуст.</div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Карточка курса</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" class="form-group">
      <div class="mb-3">
        <label for="courseName" class="form-label">Название курса</label>
        <input type="text" class="form-control" id="courseName" formControlName="courseName" />
        <div class="errors-container">
          <div
            *ngIf="courseName.invalid && courseName.touched && courseName.errors?.required"
            class="app-invalid-text"
          >{{ courseName.errors?.required.message }}</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfStart">Дата начала</label>
        <div class="input-group">
          <input
            id="dateOfStart"
            class="form-control"
            placeholder="день/месяц/год"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
            formControlName="courseDate"
          />
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
            <svg class="p-1" width="24" height="24" fill="currentColor">
              <use xlink:href="#calendar"/>
            </svg>
          </button>
        </div>
        <div class="errors-container">
          <div
            *ngIf="courseDate.invalid && courseDate.touched && courseDate.errors?.required"
            class="app-invalid-text"
          >{{ courseDate.errors?.required.message }}</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="courseDuration" class="form-label">Название курса</label>
        <input type="text" class="form-control" id="courseDuration" formControlName="courseDuration" />
        <div class="errors-container">
          <div
            *ngIf="courseDuration.invalid && courseDuration.touched && courseDuration.errors?.required"
            class="app-invalid-text"
          >{{ courseDuration.errors?.required.message }}</div>
          <div
            *ngIf="courseDuration.invalid && courseDuration.touched && courseDuration.errors?.numeric"
            class="app-invalid-text"
          >{{ courseDuration.errors?.numeric.message }}</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" [disabled]="formGroup.invalid" (click)="onSubmit()">Ok</button>
  </div>
</ng-template>
